'menu': [
  {
    'label': 'Edit'
    'submenu': [
      'label': 'Lines'
      'submenu': [
        'label': 'Permute'
        'submenu': [
          { 'label': 'Unique', 'command': 'permute:unique' }
          { 'label': 'Shuffle', 'command': 'permute:shuffle' }
          { 'label': 'Reverse', 'command': 'permute:reverse'}
        ]
      ]
    ]
  }
]
